# FINAL CLEANING

## Table of Contents<a class="anchor" id="top"></a>
0. [Import Libraries](#import-libraries)
1. [Import Data](#import-data)
2. [Data Cleaning](#data-cleaning)
3. [Data Export](#data-export)

### <a class="anchor" id="import-libraries">0. Import Libraries</a>
###### [Back to top](#top)

In [2]:
import pandas as pd
import os
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# %matplotlib inline

### <a class="anchor" id="import-data">1. Import Data</a>
###### [Back to top](#top)

In [3]:
data_dir = './'
csv_file = os.path.join(data_dir, 'data_final.csv')

df = pd.read_csv(csv_file)

,DISTRICT_NAME,REP_DIST,CALL_TYPE,CALL_TYPE_DESCRIPTION,PRIORITY,CROSS_STREET,CALL_ENTRY_DATE,CALL_ENTRY_TIME
0,Lakeview,266,459B,BUSN BURGLARY,3,5 & 5 ONRAMP,2023-12-30,09:53:06
1,Lakeview,334,OTHER,MISCELLANEOUS,4,PACIFIC & YOKUTS,2023-12-30,13:23:19
2,Park,217,965,MISSING PERSON,1,OLD OAK,2023-12-30,21:24:39
3,Park,217,965,MISSING PERSON,1,OLD OAK,2023-12-30,21:24:39
4,Park,217,965,MISSING PERSON,1,OLD OAK,2023-12-30,21:24:39

In [4]:
clean_df = df
clean_df.head(10)

,DISTRICT_NAME,REP_DIST,CALL_TYPE,CALL_TYPE_DESCRIPTION,PRIORITY,CROSS_STREET,CALL_ENTRY_DATE,CALL_ENTRY_TIME
0,Lakeview,266,459B,BUSN BURGLARY,3,5 & 5 ONRAMP,2023-12-30,09:53:06
1,Lakeview,334,OTHER,MISCELLANEOUS,4,PACIFIC & YOKUTS,2023-12-30,13:23:19
2,Park,217,965,MISSING PERSON,1,OLD OAK,2023-12-30,21:24:39
3,Park,217,965,MISSING PERSON,1,OLD OAK,2023-12-30,21:24:39
4,Park,217,965,MISSING PERSON,1,OLD OAK,2023-12-30,21:24:39
5,Valley Oak,361,417,BRANDISHING,2,BURKE BRADLEY,2023-12-30,09:37:19
6,Valley Oak,361,417,BRANDISHING,2,BURKE BRADLEY,2023-12-30,09:37:19
7,Valley Oak,361,417,BRANDISHING,2,BURKE BRADLEY,2023-12-30,09:37:19
8,Lakeview,261,484,PETTY THEFT,3,BRUSH CREEK & GRIZZLY HOLLOW,2023-12-30,11:16:15
9,SJC,1151,505,RECKLESS DRIVING,3,ALPINE & DELAWARE,2023-12-30,23:40:50

### <a class="anchor" id="data-cleaning">2. Data Cleaning</a>
###### [Back to top](#top)

In [5]:
key_pair = {
    '945': 'AMBULANCE REQUESTED',
    '415HW': 'WIRELESS 911 HANGUP',
    '901B': 'VEHICLE ACCIDENT UNKNOWN INJU',
    '505': 'RECKLESS DRIVING',
    '215': 'CARJACKING',
    '415F': 'DISTURBANCE FAMILY FIGHT',
    '415': 'DISTURBING THE PEACE ',
    '597': 'CRUELTY TO ANIMALS',
    '933': 'ALARM SOUNDING',
    '965A': 'POSS MISSING PERSON/CHILD',
    '245': 'POSS ASSAULT W/DEADLY WEAPON',
    '903A' : 'TRAFFIC HAZARD',
    '10851' : 'STOLEN VEHICLE',
    '10851R' : 'STOLEN VEHICLE RECOVERY',
    '962X' : 'MEET FEMALE CITIZEN',
    '459A' : 'AUTO BURGLARY',
    '459B' : 'BURGULARY OF A BUSINESS',
    '920' : 'FOLLOW UP INVEST',
    'TRU' : 'TRU REPORT',
    'VRO' : 'TRESSPASSING',
    '243' : 'BATTERY',
    '949' : 'SUSPICIOUS OCCUPANTS OF A VEHICLE',
    '962' : 'MEET CITIZEN',
    '911' : 'PERSON SHOT',
    '211' : 'ROBBERY',
    '914' : 'MAKE A TELEPHONE CALL TO #',
    '220' : 'RAPE ATTEMPT',
    '990' : 'ALL:CAR BROADCAST',
    '957' : 'DISCHARGING A WEAPON',
    '937' : 'CHECK ON/AREA',
    '647' : 'VAGRANT',
    '955A' : 'VICIOUS ANIMAL',
    '955D' : 'DEAD ANIMAL',
    '913A' : 'SUICIDE ATTEMPT',
    '415H' : '911 HANG UP',
    '653M' : 'MALICIOUS/OBSCENE TELEPHONE CALLS',
    '246' : 'SHOOTING INTO OCCUPIED BUILDING/VEHICLE',
    '940' : 'MEET AN OFFICER',
    '422' : 'TERRORIST THREATS',
    '481' : 'HIT & RUN, NON-INJURIES, PROPERTY DAMAGE',
    'NARC' : 'NARCOTICS VIOLATION'
}

In [6]:
for key, value in key_pair.items():
    clean_df.loc[clean_df['CALL_TYPE'] == key, 'CALL_TYPE_DESCRIPTION'] = value

In [7]:
clean_df.head(10)

,DISTRICT_NAME,REP_DIST,CALL_TYPE,CALL_TYPE_DESCRIPTION,PRIORITY,CROSS_STREET,CALL_ENTRY_DATE,CALL_ENTRY_TIME
0,Lakeview,266,459B,BURGULARY OF A BUSINESS,3,5 & 5 ONRAMP,2023-12-30,09:53:06
1,Lakeview,334,OTHER,MISCELLANEOUS,4,PACIFIC & YOKUTS,2023-12-30,13:23:19
2,Park,217,965,MISSING PERSON,1,OLD OAK,2023-12-30,21:24:39
3,Park,217,965,MISSING PERSON,1,OLD OAK,2023-12-30,21:24:39
4,Park,217,965,MISSING PERSON,1,OLD OAK,2023-12-30,21:24:39
5,Valley Oak,361,417,BRANDISHING,2,BURKE BRADLEY,2023-12-30,09:37:19
6,Valley Oak,361,417,BRANDISHING,2,BURKE BRADLEY,2023-12-30,09:37:19
7,Valley Oak,361,417,BRANDISHING,2,BURKE BRADLEY,2023-12-30,09:37:19
8,Lakeview,261,484,PETTY THEFT,3,BRUSH CREEK & GRIZZLY HOLLOW,2023-12-30,11:16:15
9,SJC,1151,505,RECKLESS DRIVING,3,ALPINE & DELAWARE,2023-12-30,23:40:50

### <a class="anchor" id="data-export">3. Data Export</a>
###### [Back to top](#top)

In [8]:
clean_df.to_csv('2023-2024-final-stockton-pd-responses.csv', index=False)